<style>
a {
  color: green;
}
body{
  background-color: white;
  font-family: 'Fira Sans';
}
.navbar{
  background: #00693e;
  color: white;
}
.navbar .navbar-nav>li>a {
  color: white;
}
.navbar-brand {
  color: white;
}
</style>